*{
  color: #777777;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

body {
  background: url(../images/concrete_seamless.png);
}

/***** Header styling *****/
header {
  background-color: #fff;
  width: 100%;
  overflow: auto;
  border-bottom: 3px solid #ccc;
  font-family:'Georgia', Times, 'Times New Roman', serif;
}

#special {
  margin-right: 26%;
}

ul {
  float: right;
  list-style-type: none;
  margin-right: 28%;
  padding-top: 15px;
}

li {
  display: inline;
  font-size: larger;
}

li a {
  padding: 20px;
  text-decoration: none;
}

.menu:hover {
  opacity:.8;
  background-color: #4aaaa5;
}

.menu span:hover {
  color: white;
}

h1 {
  background-color: #4aaaa5;
  padding: 20px 30px;
  margin-left: 18%;
  color: white;
  float: left;
  font-size: 35px;
}

/***** About Styling *****/
h2 {
  font-size: 35px;
  padding: 0 0 4px 61px;
  border-bottom: 2px solid #ccc;
  color: #4aaaa5
}

#container{
  background-color: white;
  width: 32%;
  height: 406px;
  margin-top: 30px;
  float: left;
  margin-left: 18%;
}

#about {
  margin-left: 14%;
  margin-top: 6%;
  background-color: white;
  max-width: 78%;
  max-width: 68%;
  float: left;
}

img {
  max-width: 36%;
  max-height:200px;
  float: left;
  clear: left;
  padding: 10px;
}

p {
  padding: 5px 10px 5px 10px;
  text-indent: 20px;
  line-height: 24px;
}

/***** Contact Form Styling *****/
#container2 {
  background-color: white;
  width: 32%;
  max-height: 503px;
  margin-top: 30px;
  float: left;
  margin-left: 18%;
}

.formfield {
  float: left;
  margin-left: 4%;
  margin-top: 14px;
  background-color: white;
  height: 437px;
  width: 90%;
}

form {
  background-color: white;
  width: 103%;
  height: 396px;
  resize: vertical;
}

input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4aaaa5;
}

input[type=submit]:hover {
  background-color: #4aaaa5;
}

#fname {
  float: left;
  width: 90%;
  margin-left: 4%;
}

#email {
  float: left;
  clear: left;
  width: 90%;
  margin-left: 4%;
}

#subject {
  height: 200px;
  width: 90%;
  float: left;
  clear: left;
  margin-left: 4%;
}

.submit {
  float: left;
  clear: left;
  margin-left: 4%;
}

.submit {

}

textarea {
  width: 100%;
  height: 200px;
}
/***** Porftolio Styling *****/
#container3 {
  width: 32%;
  height: 654px;
  background: white;
  position: absolute;
  margin-left: 18%;
  margin-top: 30px;
}

#portfolio {
  background-color: white;
  width: 90%;
  height: 600px;
  margin-top: 30px;
  float: left;
  clear: left;
  margin-left: 5%;
}

#portfolio img {
  border: 2px solid #4aaaa5;
}
/*** Hangman Game ***/
.portimg {
  float: left;
  width: 26%;
  height: 102px;
  position: relative;
  margin-left: 4%;
  margin-top: 3%;
}

#hang span {
  position: absolute;
  top: 206px;
  background: #4aaaa5;
  padding: 15px 28px;
  left: 8%;
  color: white;
  margin-top: -8%;
  margin-left: .6%;
  color: white;
}
/*** RPG Game ***/
.portimg2 {
  float: right;
  clear: right;
  width: 26%;
  height: 100px;
  position: relative;
  margin-right: 4%;
  margin-top: 3%;
}

#rpg span {
  position: absolute;
  top: 207px;
  background: #4aaaa5;
  padding: 15px 46.7px;
  margin-left: 25.5%;
  color: white;
  margin-top: -8%;
  color: white;
}
/*** Trivia Game ***/
.portimg3 {
  float: left;
  width: 26%;
  height: 102px;
  position: relative;
  margin-left: 4%;
  margin-top: 3%;
}

#trivia span {
  position: absolute;
  background: #4aaaa5;
  padding: 15px 42px;
  left: 60%;
  color: white;
  margin-top: 37%;
  left: 54.9px;
  color: white;
}
/*** Info Widget ***/
.portimg4 {
  float: right;
  clear: right;
  width: 26%;
  height: 100px;
  position: relative;
  margin-right: 4%;
  margin-top: 3%;
}

#infowidg span {
  position: absolute;
  background: #4aaaa5;
  padding: 15px 18.9px;
  left: 13.1%;
  color: white;
  margin-top: 37%;
  margin-left: 50.9%;
  color: white;
}
/*** Rock Paper Scissor ***/
.portimg5 {
  float: left;
  clear: left;
  width: 26%;
  height: 100px;
  position: relative;
  margin-left: 4%;
  margin-top: 3%;
}

#rock span {
  position: absolute;
  background: #4aaaa5;
  padding: 15px 13px;
  left: 8.3%;
  color: white;
  margin-top: 60%;
  margin-left: .6%;
  color: white;
}

/***** Connect Styling *****/
.wrapper {
  height: 186px;
  width: 24%;
  background: white;
  float: left;
  margin-left: 4%;
  margin-top: 30px;
}

#special2 {
  margin-left: 54%;
}

.connect {
  float: left;
  background-color: white;
  margin-top: 30px;
  margin-left: 16%;
}

a img {
  width: 50px;
  height: 50px;
  display: flex;
  float: right;
  margin-right: 1.1em;
}

h3 {
  text-align: center;
  border-bottom: 2px solid #ccc;
  font-size: 35px;
  color: #4aaaa5;
  margin-right: 0.6em;
}

/***** Footer Styling *****/
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #666;
  border-top: 6px solid #4aaaa5;
  padding: 10px;
}
